body {
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.home-body {
	padding-top: 60px;
}
@media (max-width: 979px) {
	.home-body {
		padding-top: 0px;
	}	
}

.navbar-fixed-top {
	margin-bottom: 0px !important;	
}

.navbar .brand {
	font-size: 36px;
	margin-right: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #fff;
	line-height: 48px;
}

.navbar .nav {
	margin-top: 19px;
	float: right;
}

.navbar .nav > li > a {
	font-weight: bold;
	font-size: 15px;
}

.navbar .nav > li > a:hover {
	text-shadow: 0px 0px 8px #fff;	
}

.btn.btn-large {
	font-size: 20px;
	padding: 14px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.quick-links {
	min-height: 30px;
	margin: 0;
	padding: 5px 20px;
	list-style: none;
	text-align: center;
	overflow: visible;
}

.quick-links:first-child {
	min-height: 0;
}

.quick-links li {
	/* float:left; */
	display: inline-block;
	margin: 0 5px;
	color: #999;
}

.quick-links .github-btn,.quick-links .tweet-btn,.quick-links .follow-btn
	{
	position: relative;
	top: 5px;
}

.feature-box {
	background-color: #FFFFFF;
	padding: 10px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	color: #333;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

footer {
	text-align: center;
	margin-top: 20px;
	color: #c5c5c5;
}

li .fb_iframe_widget span {
	height: 23px !important;
}

.home-hero {
	background-color:#E6E3E3;
	margin-bottom: 30px;
}

.btn.btn-large.home-hero-button {
	display:block;
	width: 334px;
	margin: 19px 0;
	font-size: 25px;
	font-weight: bold;
}

.feature-icon {
	float: left;
	width: 80px;
	height: 64px;
}

.feature-item {
	margin-bottom: 40px;
}

.feature-item h3 {
	font-size: 24px;
	font-weight:bold;
	margin: 0 0 0.7em 98px;
}

.feature-item p {
	padding-right: 30px;
	font-size: 16px; 
	color: #606060;
	line-height: 1.5;
	margin: 0 0 1.2em 98px;
}