body {
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-family: Arial, sans-serif;
}

.home-body {
	padding-top: 60px;
}

@media ( max-width : 979px) {
	.home-body {
		padding-top: 0px;
	}
}

.btn.btn-large {
	font-size: 20px;
	padding: 14px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

footer {
	text-align: center;
	margin-top: 20px;
	color: #c5c5c5;
}

li .fb_iframe_widget span {
	height: 23px !important;
}

/* Nav */
.navbar-fixed-top {
	margin-bottom: 0px !important;
}

.navbar .brand {
	font-size: 36px;
	margin-right: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 8px #fff;
	line-height: 35px;
	margin-top: 13px;
}

.navbar .nav {
	margin-top: 26px;
	float: right;
}

.navbar .nav>li>a {
	font-weight: bold;
	font-size: 15px;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover {
	background-color: transparent;
}

.navbar .nav>li>a:hover {
	text-shadow: 0px 0px 8px #fff;
}

/* HOME */
.home-hero {
	background-color: #E6E3E3;
	background-image: url('/img/home-1.jpg'),
		url('/img/home-background.jpg');
	background-repeat: no-repeat, repeat;
	background-position-x: 68%, 0;
	margin-bottom: 30px;
	height: 430px;
}

.home-hero>.container {
	padding-top: 25px;
}

.btn.btn-large.home-hero-button {
	display: block;
	margin: 12px 0;
	font-size: 20px;
	font-weight: bold;
	width: 331px;
	height: 55px;
	box-sizing: border-box;
	padding: 0px;
}

.home-hero-button-content {
	float: left;
}

.home-hero-button-img {
	float: left;
	background-repeat: no-repeat;
	width: 64px;
	height: 53px;
	background-position: center;
}

.home-hero-h1 {
	font-size: 43px;
	margin-bottom: 18px;
	padding-top: 45px;
	text-shadow: 0px 0px 9px #F7F7F7;
	font-weight: bold;
}

.home-hero-h3 {
	margin-bottom: 52px;
	font-size: 20px;
	font-weight: normal;
	text-shadow: 0px 0px 9px #F7F7F7;
}

/* Quick Links */
.quick-links {
	min-height: 30px;
	margin: 0;
	padding: 5px 20px;
	list-style: none;
	text-align: center;
	overflow: visible;
}

.quick-links:first-child {
	min-height: 0;
}

.quick-links li { /* float:left; */
	display: inline-block;
	margin: 0 5px;
	color: #999;
}

.quick-links .github-btn,.quick-links .tweet-btn,.quick-links .follow-btn
	{
	position: relative;
	top: 5px;
}

/* Features */
.home-feature-title1 {
	text-align: center;
	font-size: 35px;
	color: #272727
}

.home-feature-title2 {
	text-align: center;
	color: #64616C;
	font-size: 20px;
	line-height: 1.3;
	margin: 0.5em 0 3em
}

.feature-box {
	background-color: #FFFFFF;
	padding: 10px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	color: #333;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.feature-icon {
	float: left;
	width: 113px;
	height: 93px;
	margin-right: 14px;
}

.feature-item {
	margin-bottom: 40px;
}

.feature-item h3 {
	color: #545454;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 0.7em 98px;
	font-size: 24px;
}

.feature-item p {
	padding-right: 30px;
	padding-left: 27px;
	font-size: 20px;
	color: #77767C;
	line-height: 1.3;
	margin: 0 0 1.2em 98px;
}