body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.navbar .brand {
	font-size: 40px;
	margin-right: 30px;
}

.navbar .nav {
	margin-top: 19px;
}

.btn.btn-large {
	font-size: 20px;
	padding: 14px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.quick-links {
	min-height: 30px;
	margin: 0;
	padding: 5px 20px;
	list-style: none;
	text-align: center;
	overflow: visible;
}

.quick-links:first-child {
	min-height: 0;
}

.quick-links li {
	display: inline;
	margin: 0 5px;
	color: #999;
}

.quick-links .github-btn,.quick-links .tweet-btn,.quick-links .follow-btn
	{
	position: relative;
	top: 5px;
}

.feature-box {
	background-color: #FFFFFF;
	padding: 10px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	color: #333;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

footer {
	text-align: center;
	margin-top: 20px
}