body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.navbar .brand {
	font-size: 40px;
	margin-right: 30px;
}

.navbar .nav {
	margin-top: 19px;
}

.btn.btn-large {
	font-size: 20px;
	padding: 14px 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.quick-links {
	min-height: 30px;
	margin: 0;
	padding: 5px 20px;
	list-style: none;
	text-align: center;
	overflow: visible;
}

.quick-links:first-child {
	min-height: 0;
}

.quick-links li {
	/* float:left; */
	display: inline-block;
	margin: 0 5px;
	color: #999;
}

.quick-links .github-btn,.quick-links .tweet-btn,.quick-links .follow-btn
	{
	position: relative;
	top: 5px;
}

.feature-box {
	background-color: #FFFFFF;
	padding: 10px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	color: #333;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

footer {
	text-align: center;
	margin-top: 20px
}

li .fb_iframe_widget span {
	height: 23px !important;
}

.home-hero {
	background-color:#E6E3E3;
	margin-bottom: 30px;
}

.btn.btn-large.home-hero-button {
	display:block;
	width: 334px;
	margin: 19px 0;
	font-size: 25px;
	font-weight: bold;
}

.feature-icon {
	float: left;
	width: 80px;
	height: 64px;
}

.feature-item {
	margin-bottom: 40px;
}

.feature-item {
	margin-left: 98px;
}

.feature-item p {
	margin-left: 98px;
	padding-right: 30px;
}