.iphone {
  background-image: url('../../emulator/img/iphone.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  padding:156px 43px 10px 37px; 
  width: 320px; 
  height: 220px;
}

.iphone.landscape {
  width: 480px; 
  height: 320px;
}

.iphone.full {
  background-size: contain; 
  padding:156px 43px 164px 37px; 
  width: 320px; 
  height: 480px;
}